<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sv3</title>
    <link rel="stylesheet" href="../../Stylesheets/style.css">
    <link rel="icon" href="../../Assets/Images/mobileLogo.png">
</head>
<body>

<nav>
    <ul class="navbar">
        <li onclick=showSidebar("l-sidebar")><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg><p>Browse Categories</p></a></li>
        <li class="hideOnMobile"><a href="../../../index.html">Home</a></li>
        <li class="hideOnMobile"><a href="../info.html">Info</a></li>
        <li class="hideOnMobile"><a href="../directContact.html">Direct Contact</a></li>
        <li class="hideOnMobile"><a href="../share.html">Share</a></li>
        <li class="menu-button" onclick=showSidebar("sidebar")><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
    </ul>

    <ul class="sidebar">
        <li onclick=hideSidebar("sidebar")><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="../info.html">Info</a></li>
        <li><a href="../directContact.html">Direct Contact</a></li>
        <li><a href="../share.html">Share</a></li>
    </ul>

    <ul class="l-sidebar">
        <li onclick=hideSidebar("l-sidebar")><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
        <li><a href="sv1.html">Startup's Name</a></li>
        <li><a href="sv2.html">Company's Name</a></li>
        <li><a href="sv3.html">Domain Name</a></li>
        <li><a href="sv4.html">Institute's Name</a></li>
        <li><a href="sv5.html">New born baby's Name</a></li>
        <li><a href="sv6.html">Unique Name(Boys/Girls)</a></li>
        <li><a href="sv7.html">Nick Name(Boys/Girls)</a></li>
        <li><a href="sv8.html">Baby's Name Using Parents name</a></li>
        <li><a href="sv9.html">Pet's Name</a></li>
        <li><a href="sv10.html">Sanskrit Name of anything</a></li>
        <li><a href="sv11.html">Sanskrit Slogan for logo</a></li>
        <li><a href="sv12.html">Sanskrit Mottos for Companies</a></li>
        <li><a href="sv13.html">Sanskrit Mottos for Institute</a></li>
    </ul>
</nav>

<div class="chat-container">
    <div class="chat-button"><a href="../personInfo.html"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg><p>Contact Us</p></a></div>
</div>

<div class="sv-info-container">
    <div id="sv-info-head"><h1>Domain Name</h1></div>
    <div class="sv-info-text"><p id="sv3-file"></p></div>
</div>

<script src="../../JavaScript/index.js"></script>
<script type="module" src="../../Libs/CloudFirestore/services.js"></script>
</body>
</html>
