/* Styles for all views */

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-size: cover;
    background: #F5EBE0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    top: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #F5EBE0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}



nav .navbar li:first-child {
    margin-right: auto;
}

nav .navbar li:first-child a svg{
    padding-right: 10px;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.menu-button {
    display: none;
}

.sidebar, .l-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}

@media (max-width: 300px) {
    .sidebar, .l-sidebar {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 170px;
    }
}

.sidebar li {
    width: 100%;
}


.l-sidebar {
    left: 0;
}

.l-sidebar li {
    width: 100%;
}

.header {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: auto;
    width: 200px;
}

.header h1 {
    font-size: 3rem;
    text-align: center;
}

@media (max-width: 825px) {
    .header {
        width: 100%;
        padding-top: 70px;
        flex-direction: column;
        justify-content: center;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header img {
        height: auto;
        width: 150px;
        margin-right: auto;
    }
}

.chat-container{
    position: sticky;
    top: 90%;
    padding-right: 0;
    z-index: 998;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-button img {
    height: auto;
    width: 300px;
}

.chat-button a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #F5EBE0;
    width: 150px;
}

.chat-button svg {
    fill: black;
    padding: 5px 10px;

}

@media (max-width: 825px) {
    .menu-button {
        display: block;
    }
    .hideOnMobile {
        display: none;
    }
    .chat-container {
        top: 90%;
        right: 0;
        position: fixed;
        overflow: hidden;
        padding-right: 10px;
    }
    .chat-button svg {
        width: 25px;
        border-radius: 10px;
    }
    nav .l-sidebar li{
        height: 45px;
    }
}


/*Styles for index.html*/

.container1 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
}

.container1 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    padding: 10px;
    border-radius: 50px;
    background-color: #D5BDAF;
    width: 95%;
}


.container1 p {
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.img-container .item {
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #D5BDAF;
    border: 3px solid black;
    align-self: center;
    height: auto;
    width: 46%;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.container2 .item {
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #D5BDAF;
    border: 2px solid black;
    align-self: center;
    height: auto;
    width: 80%;
}

.container3 {
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container3 .item {
    min-width: 25px;
    min-height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.1s;
    flex-shrink: 1;
    flex-grow: 1;
    border: 3px solid black;
}

.container3 .item:hover {
    scale: 1.04;
}

.container3 .item a {
    text-decoration: none;
    color: black;
}

@media (max-width: 825px) {
    .container1 {
        margin-top: 25px;
    }
    .container1 p {
        font-size: 1rem;
    }
    .img-container {
        flex-direction: column;
    }
    .img-container .item {
        width: 90%;
    }
    .container2 {
        margin-top: 25px;
        gap: 10px;
        align-self: center;
    }
    .container2 .item {
        border-radius: 30px;
        padding: 10px 10px;
        width: 90%;
    }
    .container3 {
        padding: 50px 25px;
        gap: 5px;
    }
    .container3 .item {
        padding: 10px;
        font-size: 1rem;
        flex-shrink: 1;
        flex-grow: 1;
        border: 3px solid black;
    }

}


/*Styles for info.html*/

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.info-container h1 {
    text-align: center;
}

.info-container #info-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
    border-radius: 20px;
    background-color: #D5BDAF;
    border: 3px solid black;
    width: 70%;
}

#info-text p ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

@media (max-width: 825px) {
    .info-container {
        margin: 70px 0;
        gap: 50px;
    }
    .info-container #info-text {
        font-size: 1.1rem;
    }
}

/*Styles for directContact.html*/

.main-dc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.contact-container #contact-info {
    font-size: 1.7rem;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: #D5BDAF;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}


#contact-info #phone-number ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#mail-address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#mail-address svg {
    fill: black;
    height: auto;
    width: 50px;
}

#bh1 p{
    font-size: 1.5rem;
    color: #556b2f;
}

#bh2 p{
    font-size: 2.2rem;
    color: #556b2f;
    font-weight: bold;
}

#para3 p{
    font-size: 1rem;
    font-style: italic;
}

#bh3 p {
    font-size: 1.5rem;
    font-weight: bold;
}

#services-list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
}

@media (max-width: 825px) {
    .main-dc {
        padding-top: 50px;
    }
    #contact-info #phone-number ul {
        flex-direction: column;
        gap: 0;
    }
    .contact-container {
        width: 100%;
    }
    .contact-container #contact-info {
        font-size: 1rem;
        gap: 15px;
    }
    #para3 p{
        font-size: 0.6rem;
    }
    #bh1 p{
        font-size: 1.1rem;
    }
    #bh2 p {
        font-size: 1.5rem;
    }
    #bh3 p{
        font-size: 1rem;
    }
    #services-list ul {
        gap: 1px;
    }
}

/*Styles for share.html*/

.share-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 150px;
    position: fixed;
    overflow: hidden;
}

.share-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 3px solid black;
    background-color: #D5BDAF;
    height: 80%;
    width: 50%;
    border-radius: 25px;
}

.share-bg h1 {
    text-align: center;
}

@media(max-width: 825px) {
    .share-bg {
        width: 80%;
        height: 50%;
    }
    .share-container {
        top: 150px;
    }
}

.share-container svg {
    fill: black;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #6F5E5C;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(17px);
    z-index: 1001;
}

#fallback-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#fallback {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    gap: 50px;
    border-radius: 10px;
    z-index: 1002;
    padding: 30px;
}

#fallback a{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.copy-button {
    fill: black;
    border: 3px solid black;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

.reddit-button svg{
    height: 45px;
    width: 45px;
}


/*Styles for personInfo.html*/

.prompt {
    text-align: center;
}

.form-content {
    padding-bottom: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: #D5BDAF;
    border: 3px solid black;
}

@media (max-width: 825px) {
    .user-info {
        width: 70%;
    }
}


.alert {
    display: none;
    background-color: #D5BDAF;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

#usermessage {
    height: auto;
}


.text-box {
    display : flex;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #D5BDAF;
    padding: 10px;
    font-size: 17px;
    flex-grow: 1;
}

@media (max-width: 400px) {
    .text-box {
        width: auto;
    }
}

.text-box::placeholder {
    font-style: italic;
    font-size: 17px;
    color: #005439;
}

.submit-button {
    height: 40px;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #6F5E5C;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-button:hover {
    cursor: pointer;
}

/*Styles for sv{x}.html*/

.sv-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.sv-info-container h1 {
    text-align: center;
}

.sv-info-container .sv-info-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
    border-radius: 20px;
    background-color: #D5BDAF;
    border: 3px solid black;
    width: 70%;
}

.sv-info-text p ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.sv-info-text p {
    padding-top: 15px;
}

.sv-info-text .sv-phNum {
    font-weight: bold;
}

@media (max-width: 825px) {
    .sv-info-container {
        margin: 70px 0;
        gap: 50px;
    }
    .sv-info-container .sv-info-text {
        font-size: 1.1rem;
    }
}
